/* App.css */
:root {
  --color-white: #FAFAFA;
  --color-light-purple: #9F7FE4;
  --color-dark-purple: #282138;
  --text_grey: #4B494F;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevents scrolling on the entire document */
}
